.cont{
    display: flex;
margin-left: 100px;
background-color: #fff;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}
.readmo{
    width: 40%;
}
.readmo h1{
    font-size: 2.5em;
    color: #301934;
}
.readmo p{
    font-size: 1.0rem;
    margin: 1em 0;
}
.imgConta{
    width: 50%;
}
.imgConta img{
    justify-content: space-between;
    width: 50%;
    height: 350px;
    margin-left: 40px;
    display: block;

}